:root {
  // =========== START:: THEME COLORS ===========
  --main: #4b4b4b;
  --anti_main: #fff;

  --body_bg: #f6f6f6;
  --main_bg: #ffffff;
  --input_bg: #ffffff;

  --border: #c2c2c287;
  --main_shadow: #2f2f2f2e;
  --para_color: #4b4b4b;

  &.darkTheme {
    --main: #fff;
    --anti_main: #4b4b4b;

    --body_bg: #181818;
    --main_bg: #000;
    --input_bg: #333;

    --border: #16161682;
    --main_shadow: #97979740;
    --para_color: #fff;
  }

  // ============= Fixed
  --app_color: #783aa4;
  --app_color_hover: #3d0367;
  // @media (prefers-color-scheme: dark) {
  //   :root {
  //   }
  // }
  // =========== END:: THEME COLORS ===========

  // =========== START:: BRANDS COLORS ===========
  --facebook: #4267b2;
  --twitter: #1da1f2;
  --whatsApp: #25d366;
  --telegram: #0088cc;
  --linkedin: #2867b2;
  --youtube: #ff0000;
  --instagram: #e4405f;
  // =========== END:: BRANDS COLORS ===========
}
